.create-news .wrapper .design{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-news .wrapper .design .left{
    width: 43.5%;
    /* margin: auto; */
    padding: 0 3rem 0 3rem;
    /* border-right: 1px solid #000000; */
}

.create-news .wrapper .design .left h1{
    margin-top: 3rem;
}

.create-news .wrapper .design .left h2{
    margin-bottom: 1rem;
}

.create-news .wrapper .design .left .title,.description,.content{
    margin-top: 2rem;
}


/* .ckeditor{
    height: 3rem;
} */


.create-news .wrapper .design .right{
    width: 44%;
    padding: 11rem 3rem 0 3rem;
}



.category select{
    height: 2.5rem;
    width: 100%;
    max-width: 14rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
}


.create-news .image-style-side {
    max-width: 50%;
    float: right;
    margin-left: var(--ck-image-style-spacing);
}

.create-news .image-style-side {
    max-width: 100%;
    
}


.create-news .create-news .image.image_resized {
    max-width: 100%;
}



/* .create-news .figure{
    width: 100%;
    margin: 0;
} */

.create-news .image > img{
    width: 100%;
    height: 100%;
}

.create-news .image-style-block-align-left,
.create-news .image-style-block-align-right {
    max-width: calc(100% - var(--ck-image-style-spacing));
}

/* Allows displaying multiple floating images in the same line.
See https://github.com/ckeditor/ckeditor5/issues/9183#issuecomment-804988132 */
.create-news .image-style-align-left,
.create-news .image-style-align-right{
    clear: none;
}

.create-news .image-style-side{
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
}

.create-news .image-style-align-left{
    margin-left: 0;
    display: block;
}

.create-news .image-style-align-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.create-news .image-style-align-right{
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.create-news .text-tiny {
    font-size: 0.7em;
}

.create-news .text-small {
    font-size: 0.85em;
}

.create-news .text-big {
    font-size: 1.4em;
}

.create-news .text-huge {
    font-size: 1.8em;
}

.ck.ck-list{
    overflow-y: scroll;
    height: 20rem !important;
}




