/* .news h1{
    font-size: 2.5rem;
}

.news h2{
    font-size: 2rem;
} */

.news{
    background: #140d14;
    color: #f1f1f1 !important;
    position: relative;
}

.news .header{
    position: relative;
    /* z-index: 1; */
    height:75vh;
    color: #f1f1f1 !important;
}


.news .title{
    position: absolute;
    top: 38vh;
    left: 25vw;
    /* color: #ffffff */
    /* bottom: 0;
    margin: auto 0; */
}

.news .category{
    position: absolute;
    top: 38vh;
    left: 25vw;
    /* color: yellow; */
    color: darkorange;
    font-size:1.4rem;
}


.news .time{
    position: absolute;
    top: 56vh;
    left: 25vw;
    font-size:1.4rem;
}

.news .background{
    position: absolute;
    margin-top: 0;
    height: 100vh;
    /* z-index: 0; */
    /* transform: scale(1.15); */
    /* top: 0; */
}

.news .background::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 40vh;
    width: 100%;
    background: linear-gradient(180deg,transparent,#140d14);
    /* z-index: -1; */
}

.news figure{
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    margin-left: 0;
}

.news figure:first-child{
    margin-top:0;
}

.news figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news figure:first-child img{
    opacity: 0.35;
}


.news .body{
    position: relative;
    /* z-index: 1; */
    /* margin-top: -5rem; */
    /* width: 60%; */
    text-align: left;
    padding-bottom: 1rem;
}


.news .body p{
    line-height: 2rem;
}


.news .body p, .news .body h2, .news .body h3{
    padding-left: 25vw;
    width: 50%;
}

.news .body span{
    color: #f1f1f1 !important;
}

.news figcaption{
    text-align: center;
    font-size: 0.8rem;
    margin-left: 25vw;
    padding: 1rem 0;
    margin-bottom: 3rem;
    width: 50%;
    border-bottom: 1px solid #343434;
}